spring:
  profiles:
    active: local

  data:
    mongodb:
      uri: mongodb://localhost:27017/zkmpc
      auto-index-creation: false

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        default-requeue-rejected: false
        acknowledge-mode: manual

client:
  id: "1"
server:
  port: 8081
